<header>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center header-block">
      <h2>Vérifier un code promo</h2>
    </div>
  </div>
</header>
<section>
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Code promo">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-sm">Vérifier</button>
        </div>
      </form>
    </div>
  </div>
</section>
