<header id="no-print-header">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center header-block">
      <h2>Imprimer des QR Code</h2>
    </div>
  </div>
</header>
<section id="no-print-form">
  <div class="row">
    <div class="col-md-offset-3 col-md-5 text-center">
      <form role="form" class="form form-inline">
        <p>
          Générer
          <select ng-model="amount" class="form-control" ng-options="k for k in [10, 30, 50]" ng-change="reset()"></select>
          QR code d’une valeur de
          <select ng-model="value" class="form-control" ng-options="k for k in [1, 2, 3]" ng-change="reset()"></select>
          pizza(s)
          <button class="btn btn-success btn-sm" ng-click="generateCodes()">Ok <i class="glyphicon glyphicon-ok"></i></button>
        </p>
      </form>
    </div>
  </div>
</section>
<section id="printable">
  <div class="row">
    <div class="col-md-12 text-center">
      <div ng-repeat="codeRow in codes" class="row">
        <div ng-repeat="code in codeRow" class="col-md-3 qrcode-col">
          <div class="qrcode">
            <qr class="qrcode-image" text="code.hash"></qr>
            <p>La Boucaine - <ng-pluralize count="value" when="{'one': '1 pizza', 'other': '{} pizzas'}"></ng-pluralize></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
