doctype html
html(ng-app="main")
  head
    title Admin Pizza La Boucaine
    meta(charset="utf8")
    link(rel="stylesheet" type="text/css" href="public/vendors.css")
  head
  body
    h1 Login
    form
      .form-group
        label(for="username") Nom d'utilisateur
        input(id="username" type="text" name="username" class="form-control")
      .form-group
        label(for="password") Mot de passe
        input(id="password" type="password" name="password" class="form-control")
