doctype html
html(ng-app="main")
  head
    title Pizza La Boucaine - Support
    meta(charset="utf8")
    link(rel="stylesheet" type="text/css" href="public/vendors.css")
    link(rel="stylesheet" type="text/css" href="public/style.css")
  body
    nav(class="navbar navbar-default" role="navigation" id="navigation")
      .container-fluid
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
            span(class="sr-only") Navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Pizza La Boucaine

    .row-fluid(style="margin-top:10%;")
      .col-md-2.col-md-offset-5
        p
          img(src="public/logo.png")
        p
          a(href="mailto:pizza.la.boucaine@gmail.com?Subject=Support%20Pizza%20La%20Boucaine").btn.btn-primary.
            Contacter le support client
